:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
--dkClr:#181818;
--liClr:whitesmoke;
--accClr:#0D0d35;


}



header,footer{
  display: flex;
justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

main{
  flex: 2;
  display: flex;
}